html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix {
  clear: both;
}

.spacing {
  display: block;
  padding-top: calc(79px - 1em);
}

.wrapper {
  padding: 0 0.5em;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
  font-size: 2.2rem;
  color: #004E4E;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  font-size: 2rem;
  color: #004E4E;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 14px;
  font-size: 1.4rem;
  color: #004E4E;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  font-size: 0.9rem;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
a:focus {
  outline: none;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  font-size: 0.9rem;
}

.link {
  color: #004E4E;
  font-size: 9px;
  font-size: 0.9rem;
}
.link:hover {
  color: #001b1b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1979;
}

nav {
  background-color: #004E4E;
  border-bottom: 5px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.nav__link {
  color: #ffffff;
  padding: 1.5625em 0.9375em;
}

.nav__link.logo {
  padding: 0 0.9375em;
}
.nav__link.logo img {
  max-width: 200px;
}

@media only screen and (max-width: 767px) {
  nav li[data-nav='home'] {
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  nav li[data-nav='services'],
  nav li[data-nav='portfolio'],
  nav li[data-nav='apps'],
  nav li[data-nav='contact'] {
    display: none;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media only screen and (min-width: 768px) {
  nav ul {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  nav li[data-nav='services'] {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  nav li[data-nav='portfolio'] {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  nav li[data-nav='home'] {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  nav li[data-nav='apps'] {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  nav li[data-nav='contact'] {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }

  nav li {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}
.page-intro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 1em;
}

.page-intro__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-intro__item[data-intro='2'] {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}
.page-intro__item[data-intro='2'] h1 {
  padding: 1em;
}

.page-intro__image {
  background-color: #004E4E;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
}

.page-intro__item[data-intro='3'] .page-intro__image {
  border-right: 0.5em solid #ffffff;
}

.page-intro__item[data-intro='4'] .page-intro__image {
  border-left: 0.5em solid #ffffff;
}

.boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 2em 1em;
}
@media only screen and (min-width: 768px) {
  .boxes {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    border: 2px solid #e6e6e6;
  }
}

.box {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .box {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: left;
  }
}

.box .content {
  padding: 1em;
}

.box.box--x {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  color: #e6e6e6;
  text-align: center;
  position: relative;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .box.box--x {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
  .box.box--x:before, .box.box--x:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  .box.box--x:before {
    top: -2px;
  }
  .box.box--x:after {
    bottom: -2px;
  }
}

.box--x p {
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .box--x p {
    font-size: 50px;
    font-size: 5rem;
  }
}

.featured {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
  border-left: 1em solid #ffffff;
  border-right: 1em solid #ffffff;
  margin: 2em 0;
}
@media only screen and (max-width: 767px) {
  .featured {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.featured__image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #004E4E;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .featured__image {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .featured__image:nth-child(1) {
    width: 70%;
    border-right: 2em solid #ffffff;
  }

  .featured__image:nth-child(2) {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .featured__image:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .featured__text {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    margin-top: 2em;
    padding: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .featured__text {
    background-color: #ffffff;
    position: absolute;
    top: 25%;
    right: 8em;
    max-width: 450px;
    padding: 1.5em;
  }
}

.featured h2 {
  font-size: 24px;
  font-size: 2.4rem;
}
@media only screen and (min-width: 768px) {
  .featured h2 {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

.featured h2:after {
  content: "";
  height: 2px;
  display: block;
  width: 150px;
  background-color: #e6e6e6;
  margin: 0.2em 0;
}

.featured h3 {
  color: #546A7B;
  font-style: italic;
  margin-bottom: 0.75em;
}

.featured p {
  max-width: 350px;
}

.featured__btns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 1em;
}

.featured__photos-btn,
.featured__portfolio-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}
@media only screen and (min-width: 320px) {
  .featured__photos-btn,
  .featured__portfolio-btn {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.featured__portfolio-btn a {
  width: 100%;
  text-align: left;
}
@media only screen and (max-width: 319px) {
  .featured__portfolio-btn a {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 320px) {
  .featured__portfolio-btn a {
    text-align: right;
  }
}

.call-to-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 2em 1em;
  border: 2px solid #3f505d;
}
@media only screen and (min-width: 675px) {
  .call-to-action {
    max-width: 400px;
    margin: 0 auto;
  }
}

.cta-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.cta-block.block-1, .cta-block.block-2 {
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.cta-block.block-1 .cta-block__item,
.cta-block.block-2 .cta-block__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #546A7B;
  width: 100%;
  padding: 2em 1em;
  color: #ffffff;
}

.cta-block.block-1 .cta-block__item {
  border-right: 2px solid #3f505d;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-block.block-2 .cta-block__item p,
.cta-block.block-2 .cta-block__item a {
  text-align: center;
  width: 100%;
}

.cta-block.block-2 .cta-block__item a {
  color: #ffffff;
}
.cta-block.block-2 .cta-block__item a:hover {
  color: #3f505d;
}

@media only screen and (min-width: 700px) {
  .cta-block.block-1 {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .cta-block.block-2 {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }

  .cta-block.block-2 .cta-block__item p,
  .cta-block.block-2 .cta-block__item a {
    text-align: left;
  }
}
.approach {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 2em 1em;
}

.approach-item:first-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.approach-item:nth-child(2) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.approach-item:nth-child(3) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.approach__content {
  max-width: 600px;
  padding-left: 3em;
  position: relative;
}
.approach__content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 75px;
  bottom: 75px;
  height: inherit;
  width: 3px;
  background-color: #e6e6e6;
}
.approach__content h2 {
  margin-bottom: .5em;
  color: #546A7B;
}
.approach__content p {
  margin-bottom: 1em;
}

.approach__steps {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-top: 3px solid #e6e6e6;
  width: 100%;
  margin: 2em 0;
}
.approach__steps:before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin: .25em 0 1em 0;
  background-color: #e6e6e6;
}
.approach__steps li {
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .approach__steps li {
    -webkit-flex: 1 33%;
        -ms-flex: 1 33%;
            flex: 1 33%;
  }
}
.approach__steps li span {
  display: block;
  padding: 2em;
}
.approach__steps li span:before {
  content: attr(data-step);
  display: block;
  margin: 1em 0;
}
