html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix {
  clear: both;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 55%;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  position: relative;
  background-color: #e6e6e6;
  background: url("../assets/fearon-bros-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.fearon-half {
  display: block;
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fearon-half {
    width: 50%;
  }
  .fearon-half.fb--push {
    float: right;
  }
  .fearon-half.fb--pull {
    float: left;
  }
}

.fearon-two-third {
  display: block;
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fearon-two-third {
    width: 68.75%;
    margin-right: 2.5%;
  }
}

.fearon-one-third {
  display: block;
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fearon-one-third {
    width: 28.75%;
  }
}

.fb--copy {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}

.fb--heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.fb--base {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 1.125em;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.mt {
  padding: 7.5em 0;
  margin-top: 50px;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 15px;
}

header {
  background: #004E4E;
  background: linear-gradient(180deg, #004E4E, #002C2B);
  border-bottom: 5px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1979;
  }
}

.logo--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}
@media only screen and (min-width: 768px) {
  .logo--header {
    float: left;
    margin-left: 0;
    height: 70px;
  }
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1979;
}
@media only screen and (min-width: 768px) {
  .nav {
    position: static;
  }
}

.nav__list {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .nav__list {
    display: block;
    text-align: right;
  }
}

.nav__item {
  background: #004E4E;
  background: linear-gradient(180deg, #004E4E, #002C2B);
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 0.625em 0;
  line-height: 20px;
  color: #ffffff;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  border-top: 1px solid #002C2B;
}
.nav__item:not(:last-child) {
  border-right: 1px solid #002C2B;
}
.nav__item.nav__mob--logo {
  background: #002C2B;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .nav__item {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 19.5px;
    line-height: 1.95rem;
    display: inline-block;
  }
  .nav__item:not(:last-child) {
    margin-right: 1.875em;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav__link {
    color: #ffffff;
    line-height: 53px;
  }
}
.nav__mob-svg {
  display: block;
  margin: 0.3125em auto;
  fill: #ffffff;
}

@media only screen and (min-width: 768px) {
  .nav--mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .nav--desktop {
    display: none;
  }
}
footer {
  background: #004E4E;
  background: linear-gradient(180deg, #004E4E, #002C2B);
  color: #ffffff;
  border-top: 3px solid #002C2B;
  padding: 3.75em 0;
  clear: both;
}

.footer__list {
  display: block;
  float: left;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .footer__list {
    width: 25%;
  }
}

.footer__item {
  margin-bottom: 0.3125em;
}
.footer__item.fb--heading {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  line-height: 2.7rem;
  margin-bottom: 0.9375em;
}

.footer__link {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
}

.featured {
  padding: 7.5em 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .featured {
    margin-top: 50px;
  }
}

.featured .fb--copy {
  max-width: 500px;
  margin: 0 auto;
  color: #546A7B;
  text-align: center;
}
.featured .fb--copy:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 2.125em auto 3.125em auto;
  background-color: #004E4E;
}

.featured__ribbon {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  background-color: #004E4E;
  color: #ffffff;
  padding: 0.9375em 0;
  border: 2px solid #002C2B;
  margin: -1px -15px 0.9375em -15px;
  position: relative;
}
.featured__ribbon:before, .featured__ribbon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 13px solid #002C2B;
  background: transparent;
  bottom: -15px;
}
.featured__ribbon:before {
  left: -2px;
  border-left: 13px solid transparent;
}
.featured__ribbon:after {
  right: -2px;
  border-right: 13px solid transparent;
}

.featured__intro {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
  color: #546A7B;
  margin-bottom: 15px;
  padding: 0.9375em;
}

.featured__button {
  color: #004E4E;
  border-top: 1px solid #e6e6e6;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  line-height: 2.1rem;
  padding: 0.9375em;
}
.featured__button:hover {
  background-color: #e6e6e6;
  border-color: #cdcdcd;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.featured__designs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0.9375em;
}
@media only screen and (min-width: 768px) {
  .featured__designs {
    padding: 0;
  }
}

.featured__design {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  background-color: #ffffff;
}

.featured--small {
  display: none;
}
@media only screen and (min-width: 992px) {
  .featured--small {
    display: block;
    margin: 140px 0;
    background-size: cover;
  }
}

.featured--medium {
  display: none;
}
@media only screen and (min-width: 768px) {
  .featured--medium {
    display: block;
    margin: 100px 0;
    background-size: cover;
  }
}

.featured--large {
  border: 2px solid #002C2B;
  border-radius: 7px;
  max-width: 375px;
  -webkit-flex: 1 1 375px;
      -ms-flex: 1 1 375px;
          flex: 1 1 375px;
  text-align: center;
  margin: 0 auto;
}
.featured--large img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.featured--small[data-feature="first"] {
  border: 2px solid #ffffff;
  border-right: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.featured--small[data-feature="fifth"] {
  border: 2px solid #ffffff;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.featured--medium[data-feature="second"] {
  border: 2px solid #ffffff;
  border-right: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.featured--medium[data-feature="fourth"] {
  border: 2px solid #ffffff;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.folio {
  background-color: #004E4E;
  background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
  border-top: 3px solid #002C2B;
  border-bottom: 3px solid #002C2B;
  padding-top: 7.5em;
  clear: both;
}

.folio .fb--copy {
  color: #ffffff;
  text-align: center;
}
.folio .fb--copy:first-child:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 1.25em auto 1.5625em auto;
  background-color: #002C2B;
}
@media only screen and (min-width: 768px) {
  .folio .fb--copy {
    text-align: left;
    max-width: 500px;
  }
  .folio .fb--copy:first-child:after {
    margin: 1.25em 0 1.5625em 0;
  }
}

.folio__link {
  text-align: center;
  margin-top: 6.25em;
}

.logo--folio {
  display: block;
  margin: 1.25em auto;
  max-width: 250px;
}

.btn--folio {
  background-color: #ffffff;
  color: #004E4E;
  margin: 2rem;
}

.folio__frames {
  height: 150px;
  margin-top: 6.25em;
  background: url("../assets/portfolio-images.png");
}

.approach {
  padding: 7.5em 0;
}

.approach .fb--copy.fb--heading {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 0;
}
.approach .fb--copy.fb--heading:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 1.25em 0 1.5625em 0;
  background-color: #004E4E;
}

.approach .fb--copy {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #546A7B;
  margin-bottom: 0.9375em;
}
@media only screen and (min-width: 768px) {
  .approach .fb--copy:first-child {
    margin-top: 8.125em;
  }
}

@media only screen and (min-width: 768px) {
  .approach__list {
    padding-right: 7.5em;
  }
}
.approach__item {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #004E4E;
  padding: 2.5em 0 2.5em 5.625em;
  position: relative;
}
.approach__item:not(:last-child) {
  border-bottom: 2px solid #546A7B;
}
.approach__item span {
  display: block;
}

.approach__item:before {
  content: attr(data-approach);
  display: inline-block;
  font-size: 70px;
  font-size: 7rem;
  line-height: 105px;
  line-height: 10.5rem;
  opacity: 0.4;
  position: absolute;
  top: 15px;
  left: 0;
  color: #546A7B;
}

.approach__item:after {
  content: "";
  height: 2px;
  width: 5000px;
  display: inline-block;
  background-color: #546A7B;
  position: absolute;
  bottom: -2px;
  right: 0;
}

.approach__item:last-child:after {
  display: none;
}

.portfolio {
  overflow: hidden;
  display: block;
}

.portfolio__item {
  display: block;
  float: left;
  width: 48.75%;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-right: 2.5%;
  border-radius: 7px;
}

@media only screen and (max-width: 767px) {
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }

  .portfolio__item::nth-child(2n+1) {
    clear: left;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio__item {
    width: 23.1255%;
  }

  .portfolio__item:nth-child(4n) {
    margin-right: 0;
  }

  .portfolio__item::nth-child(4n+1) {
    clear: left;
  }
}
.portfolio__name,
.portfolio__link {
  display: block;
  padding: 1.875em 1.25em;
}

.portfolio__thumb {
  background: url("../assets/featured-02.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .portfolio__thumb {
    height: 250px;
  }
}
@media only screen and (min-width: 992px) {
  .portfolio__thumb {
    height: 250px;
  }
}
